<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <style>
      .btn-pink {
        background-color: #fecef3;
        color: #0a0a0a;
        border: 1px solid #fecef3;
      }
      .btn-pink:hover {
        background-color: #fecef3;
        color: #0a0a0a;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Resister</h1>
      <form action="/signup" method="post">
        <div class="form-group mb-3">
          <label>아이디</label>
          <input type="text" name="userid" class="form-control" required>
        </div>
        <div class="form-group mb-3">
          <label>비밀번호</label>
          <input type="password" name="userpw" class="form-control" required>
        </div>
        <div class="form-group mb-3">
          <label>이름</label>
          <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group mb-3">
          <label>이메일</label>
          <input type="text" name="email" class="form-control" required>
        </div>
        <div class="d-flex justify-content-end gap-2">
          <button type="submit" class="btn btn-pink">가입</button>
          <a href="/" class="btn btn-pink">로그인</a>
        </div>
      </form>
        <% if (message) { %>
          <div class="alert alert-<%= messageType === 'success' ? 'success' : 'danger' %> mt-3">
            <%= message %>
          </div>
        <% } %>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  </body>
</html>